extends ../../layout

block content
    h1= title

    if !isAuth
        a(href="/signguest") Войти как гость

        h2 Авторизация
        form(id="signin" name="signin" method="post" action="signin")
            input(class="text" name="email" type="email" placeholder="Email")
            br
            input(name="password" type="password" placeholder="Пароль")
            br
            input(class="btn" type="submit" value="Войти")

        br
        h2 Регистрация
        form(id="signup" name="signup" method="post" action="/signup")
            input(class="text" name="email" type="email" placeholder="Email")
            br
            input(name="nickname" type="text" placeholder="Логин")
            br
            input(name="hash" type="password" placeholder="Пароль")
            br
            input(class="btn" type="submit" value="Зарегистрироваться")