doctype html
html
    head
        title #{title}
        script(src="/lib/jquery-1.11.1.js")

    body
        a(href="/parser/packet") Пакетный режим
        br
        a(href="/parser/id") Одиночный режим
        br

    block content
