div(class="page game" id='page-game')
    button(id='game-back') Выход
    button(id='rotate-board') Перевернуть доску
    button(id='step-back') Ход назад
    div(id='game-board')
    div(id='history')