div(class='page login' id='page-login')
    div(class='logo')
    input(id='username')
    button(id='login') Войти

div(class="page lobby" id='page-lobby')
    h2 Лобби
    h2(id='userLabel')
    h3 Активные игры
    div(id='gamesList') Активные игры отсутствуют
    h3 Игроки онлайн
    div(id='userList') Игроки онлайн отсуствуют
    h3 Настройка игры
    button(class="button-setting") Опции