div(class'page setting' id='page-setting' style="display: none")
    form(id="settings")
        h3 Вид игры
        div#big_settings
            input(type='radio' name='type_game' value="english" checked)
            | Английские шашки
            br
            input(type='radio' name='type_game' value="russian")
            | Русские шашки
            br
            input(type='radio' name='type_game' value="giveaway")
            | Поддавки
            br

        h3 Общие
        div
            input(type='checkbox' name='color_potencial_step' checked)
            | Подсвечивать возможные ходы
            br
        div
            input(type='checkbox' id="time_check_checkbox" name='time_check')
            | Учитывать время
        div
            input(type="text" id='time_check_text' name='time_value' placeholder="__:__")
            br
        div
            input(type='checkbox' name='multiattack')
            | Возможность "рубить" несколько шашек за один ход
            br
        div
            input(type='checkbox' id="fuchs" name='fuchs' checked)
            | Играть с фуками
            br
        div(id='color_potencial_fuchs' style='display: block;')
            input(type='checkbox' name='color_potencial_fuchs')
            | Подсвечивать фуки
            br
        h3 Обычные шашки
        div
            input(type='checkbox' name='simple_back_attack')
            | Рубить назад
        h3 Дамки
        div
            input(type='checkbox' name='queen_awesome_step')
            | Возможность хода по всей диагонали